@tailwind base;
@tailwind components;
@tailwind utilities;

/* 你可以加上這段讓背景預設全黑，避免閃爍 */
body {
  background-color: #000;
  color: white;
}

/* src/index.css 額外美化 (非必要) */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}